<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <th>費用科目</th>
        <th>御所属</th>
        <th>御氏名</th>
        <th>御役職</th>
    </thead>
    <tbody>
        <tr>
            <td rowspan="4">講師謝金</td>
            <td>XXXXXXXXXXXXXXXXXX</td>
            <td>XXXXXXXXXX</td>
            <td>XXXX</td>
        </tr>
        <tr>
            <td>XXXXXXXXXXXXXXXXXX</td>
            <td>XXXXXXXXXX</td>
            <td>XXXX</td>
        </tr>
        <tr>
            <td>XXXXXXXXXXXXXXXXXX</td>
            <td>XXXXXXXXXX</td>
            <td>XXXX</td>
        </tr>
        <tr>
            <td>XXXXXXXXXXXXXXXXXX</td>
            <td>XXXXXXXXXX</td>
            <td>XXXX</td>
        </tr>
        <tr>
            <td rowspan="4">原稿執筆料・監修料</td>
            <td>XXXXXXXXXXXXXXXXXX</td>
            <td>XXXXXXXXXX</td>
            <td>XXXX</td>
        </tr>
        <tr>
            <td>XXXXXXXXXXXXXXXXXX</td>
            <td>XXXXXXXXXX</td>
            <td>XXXX</td>
        </tr>
        <tr>
            <td>XXXXXXXXXXXXXXXXXX</td>
            <td>XXXXXXXXXX</td>
            <td>XXXX</td>
        </tr>
        <tr>
            <td>XXXXXXXXXXXXXXXXXX</td>
            <td>XXXXXXXXXX</td>
            <td>XXXX</td>
        </tr>
        <tr>
            <td rowspan="4">コンサルティング等業務委託費</td>
            <td>XXXXXXXXXXXXXXXXXX</td>
            <td>XXXXXXXXXX</td>
            <td>XXXX</td>
        </tr>
        <tr>
            <td>XXXXXXXXXXXXXXXXXX</td>
            <td>XXXXXXXXXX</td>
            <td>XXXX</td>
        </tr>
        <tr>
            <td>XXXXXXXXXXXXXXXXXX</td>
            <td>XXXXXXXXXX</td>
            <td>XXXX</td>
        </tr>
        <tr>
            <td>XXXXXXXXXXXXXXXXXX</td>
            <td>XXXXXXXXXX</td>
            <td>XXXX</td>
        </tr>
    </tbody>
</table>
