<% include parts/header %>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <% include parts/menu %>
            </div>

            <div class="span10">
                <p>左メニューより表示する開示情報を選択してください。</p>
            </div>
        </div>
    </div>

<% include parts/footer %>
