
<div class="row">
    <div class="span3"></div>
    <div class="span7">
        <% include hiyou %>
    </div>
</div>

<br>
<br>

<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <th>費用科目</th>
        <th>御所属</th>
        <th>件数</th>
        <th>金額</th>
    </thead>
    <tbody>
        <tr>
            <td rowspan="4">1. 奨学寄附金</td>
            <td>XXXXXXXXXXXX</td>
            <td>NNN 件</td>
            <td>xxx,xxx,xxx,xxx 円</td>
        </tr>
        <tr>
            <td>XXXXXXXXXXXX</td>
            <td>NNN 件</td>
            <td>xxx,xxx,xxx,xxx 円</td>
        </tr>
        <tr>
            <td>XXXXXXXXXXXX</td>
            <td>NNN 件</td>
            <td>xxx,xxx,xxx,xxx 円</td>
        </tr>
        <tr>
            <td>XXXXXXXXXXXX</td>
            <td>NNN 件</td>
            <td>xxx,xxx,xxx,xxx 円</td>
        </tr>
        <tr>
            <td rowspan="4">2. 一般寄附金</td>
            <td>XXXXXXXXXXXX</td>
            <td>NNN 件</td>
            <td>xxx,xxx,xxx,xxx 円</td>
        </tr>
        <tr>
            <td>XXXXXXXXXXXX</td>
            <td>NNN 件</td>
            <td>xxx,xxx,xxx,xxx 円</td>
        </tr>
        <tr>
            <td>XXXXXXXXXXXX</td>
            <td>NNN 件</td>
            <td>xxx,xxx,xxx,xxx 円</td>
        </tr>
        <tr>
            <td>XXXXXXXXXXXX</td>
            <td>NNN 件</td>
            <td>xxx,xxx,xxx,xxx 円</td>
        </tr>
        <tr>
            <td rowspan="4">3. 学会寄附金</td>
            <td>XXXXXXXXXXXX</td>
            <td>-</td>
            <td>xxx,xxx,xxx,xxx 円</td>
        </tr>
        <tr>
            <td>XXXXXXXXXXXX</td>
            <td>-</td>
            <td>xxx,xxx,xxx,xxx 円</td>
        </tr>
        <tr>
            <td>XXXXXXXXXXXX</td>
            <td>-</td>
            <td>xxx,xxx,xxx,xxx 円</td>
        </tr>
        <tr>
            <td>XXXXXXXXXXXX</td>
            <td>-</td>
            <td>xxx,xxx,xxx,xxx 円</td>
        </tr>
        <tr>
            <td rowspan="4">4. 学会共催費</td>
            <td>XXXXXXXXXXXX</td>
            <td>-</td>
            <td>xxx,xxx,xxx,xxx 円</td>
        </tr>
        <tr>
            <td>XXXXXXXXXXXX</td>
            <td>-</td>
            <td>xxx,xxx,xxx,xxx 円</td>
        </tr>
        <tr>
            <td>XXXXXXXXXXXX</td>
            <td>-</td>
            <td>xxx,xxx,xxx,xxx 円</td>
        </tr>
        <tr>
            <td>XXXXXXXXXXXX</td>
            <td>-</td>
            <td>xxx,xxx,xxx,xxx 円</td>
        </tr>
    </tbody>
</table>

<div class="pagination">
    <ul>
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</div>
