<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>費用科目</th>
            <th>年間の総額 (単位:円)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>接遇等費用</td>
            <td>xxx,xxx,xxx,xxx 円</td>
        </tr>
    </tbody>
</table>
